In [1]:
# importando as bibliotecas

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# URL para raspagem do IDH
url = 'https://www.undp.org/pt/brazil/idhm-munic%C3%ADpios-2010'

In [3]:
# Função para buscar o soup

def get_soup(url):
    
    # get retorno o objeto com alguns atributos, como content e status code
    html = requests.get(url)
    
    # Verificar se houve falha na requisição (Status code == 200 significa que foi bem sucedida)
    if html.status_code != 200:
        print('Falha na requisição - status code = 200')
    else:    
        # Passa o conteúdo da página
        html_content = html.content
    
    # Parsear o conteúdo buscado, deixando-o mais estruturado de acordo com as tags de HTML
    soup = BeautifulSoup(html_content, 'html.parser')
    
    return soup

In [4]:
# Buscar o soup
soup = get_soup(url)

In [5]:
# Dividindo a classe da tabela em listas estruturadas
s = soup.find('div', class_='coh-container m-content coh-wysiwyg')
content = s.find_all('tr')

In [6]:
# Cabeçalho
content[0]

<tr class="tableizer-firstrow"><th style="width: 60px;">Ranking IDHM 2010</th>
<th>Município</th>
<th style="width: 80px;">IDHM 2010</th>
<th style="width: 80px;">IDHM<br/>
Renda<br/>
2010</th>
<th style="width: 80px;">IDHM Longevidade 2010</th>
<th style="width: 80px;">IDHM Educação 2010</th>
</tr>

In [7]:
# Valores da Tabela
content_table = content[1:]

In [8]:
x = str(content_table[0]).split('<td>')
x

['<tr>',
 '1 º</td>\n',
 'São Caetano do Sul (SP)</td>\n',
 '0,862</td>\n',
 '0,891</td>\n',
 '0,887</td>\n',
 '0,811</td>\n</tr>']

In [9]:
# Construindo a linha do DataFrame
[x[1][:-6], x[2][:-11], x[2][-9:-7], x[3][:-6], x[4][:-6], x[5][:-6], x[6][:-11]]

['1 º', 'São Caetano do Sul', 'SP', '0,862', '0,891', '0,887', '0,811']

In [10]:
# Definindo o nome das colunas
colunas = ['Ranking IDHM 2010', 'Município', 'UF', 'IDHM 2010', 'IDHM Renda', 'IDHM Longevidade', 'IDHM Educação']

In [11]:
# Construindo o Dataframe
lista = []
for i in range (len(content_table)):
    x = str(content_table[i]).split('<td>')
    line = [x[1][:-6], x[2][:-11], x[2][-9:-7], x[3][:-6], x[4][:-6], x[5][:-6], x[6][:-11]]
    lista.append(line)
df_idh = pd.DataFrame(lista)
df_idh.columns = colunas

In [12]:
df_idh

,Ranking IDHM 2010,Município,UF,IDHM 2010,IDHM Renda,IDHM Longevidade,IDHM Educação
0,1 º,São Caetano do Sul,SP,"0,862","0,891","0,887","0,811"
1,2 º,Águas de São Pedro,SP,"0,854","0,849","0,890","0,825"
2,3 º,Florianópolis,SC,"0,847","0,870","0,873","0,800"
3,4 º,Balneário Camboriú,SC,"0,845","0,854","0,894","0,789"
4,4 º,Vitória,ES,"0,845","0,876","0,855","0,805"
...,...,...,...,...,...,...,...
5560,5560 º,Uiramutã,RR,"0,453","0,439","0,766","0,276"
5561,5562 º,Marajá do Sena,MA,"0,452","0,400","0,774","0,299"
5562,5563 º,Atalaia do Norte,AM,"0,450","0,481","0,733","0,259"
5563,5564 º,Fernando Falcão,MA,"0,443","0,417","0,728","0,286"
5564,5565 º,Melgaço,PA,"0,418","0,454","0,776","0,207"

In [13]:
df_idh.to_csv('municípios_idh.csv', index=False)